<header class="disp-flex">

    <!-- logo que lleva a web -->
    <div class="logo">
      <img src="../../../../assets/images/logogris.png">
    </div>

    <div class="spacer"></div>
    <!-- input - recibe le query de búsqueda -->
    <div class="inputQuery">
      <mat-form-field class="example-form-field">
          <mat-label>Clearable input</mat-label>
          <input matInput type="text" [(ngModel)]="value" (keyup.enter)="getQuery()">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="closeInput()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
    </div>

</header>